# Dependencies
node_modules
.pnpm-store

# Production build output
dist
build
.vercel

# Environment variables
.env
.env.local
.env.*.local

# IDE & OS files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/
.idea/

# Local cache & logs
.system_generated
.wrangler
